/* li:nth-child(odd) {
    color: black;
    background-color: black;

}

li:nth-child(even) {
    color: red;
    background-color: red;
}

a:hover {
    background-color: black;
    color: white;
}
/*  
section.sosmed a[target="_blank"]:visited {
    color: grey;
}
*/
ul li {
    display: inline-block;
    margin: 10px;
    float: right;
    text-decoration: none;
}